@CHARSET "UTF-8";
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.message-block {
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 4px solid #fff;
	padding: 1em;
}
.error-message {
	border-color: #FF6600;
	background: #FFCC99;
}
.notice-message {
	border-color: #33CC33;
	background: #CCFFCC;
}

.error404 {
	width: 100%;
	text-align: center;
}
.error404 h1 {
	font-size: 7em;
}
.error404 h2 {
	font-size: 5em;
}
.error404 h3 {
	font-size: 3em;
}
.main-page {
	margin-top: 5%;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
   	align-items: center;
   	text-align: center;
}
.add-file {
	float:left;
	margin-right: 4px;
	height: 34px;
}
.avatar-menu {
	width: 40px;
	height: 40px;
}
.avatar-table {
	width: 30px;
	height: 30px;
}
.avatar-form {
	width: 96px;
	height: 96px;
	margin-bottom: 1em;
}
.dropdown-user {
	padding: 8px 10px 0px 5px!important;
}
.add-subject {
	margin-top: 1em;
}

.file {
	margin: 1em 0;
}
.file-info, .file-delete-button {
	width: 400px;
	display: inline-block;
}
.span-alert {
	padding: 5px;
	border-radius: 5px;
}

@import url(http://fonts.googleapis.com/css?family=Alex+Brush&subset=latin,latin-ext);

.slogan {
	font: normal normal 36px 'Alex Brush', cursive;
}

.container {
	margin-top: 2em;
}
.navbar-fixed-top .container {
	margin-top: 0;
}

.menu-title {
	margin-top: 0;
}

.admin-menu .menu-title {
	margin-top: 20px;
}

.row.content {
	margin-left: 0;
	margin-right: 0;
}

/* Parent Comments */
ol {
	list-style: none;
}
.comment {
	width: 950px;
	padding-right: 12px;
}
.comment-body {
	background:#fff;
	background: linear-gradient(top, #fff, #f6f6f6);
	background: -webkit-linear-gradient(top, #fff, #f6f6f6);
	background: -moz-linear-gradient(top, #fff, #f6f6f6);
	background: -ms-linear-gradient(top, #fff, #f6f6f6);
	padding: 6px 12px 12px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
	border:1px solid #c0c0bf;
	border-top:none;
	border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	position: relative;
	margin-bottom:35px;
	min-height: 74px;
}
.comment-top{
	height: 14px;
	background-image: url("../imgs/comments.png");
	background-repeat: no-repeat;
	background-position: right -160px;
}
.comment-top span{
	display: block;
	height: 14px;
	margin-right: 10px;
	background-image: url("../imgs/comments.png");
	background-repeat: no-repeat;
	background-position: 0 0;
}
.comment-list.blue .comment-top{background-position: right -174px;}
.comment-list.green .comment-top{background-position: right -188px;}
.comment-list.purple .comment-top{background-position: right -202px;}
.comment-list.blue .comment-top span{background-position: 0 -14px;}
.comment-list.green .comment-top span{background-position: 0 -28px;}
.comment-list.purple .comment-top span{background-position: 0 -42px;}

.comment-avatar {
	position: absolute;
	top: 10px;
	left: 26px;
	width: 71px;
	height: 71px;
}
.comment-avatar img {
	display: block;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}
.comment-text {
	margin-left: 86px;
}
.comment-author {
	margin-bottom: 5px;
	text-align: right;
	color: #b3b3b3;
	font-size: 12px;
}
.comment-author a:hover {
	color: #E87500;
}
.link-author {
	font-size: 18px;
	text-decoration: none;
	float: left;
	color: #292929;
	margin: 5px 0;
}
.link-reply {
	color: #b3b3b3;
	display: inline-block;
	height:19px;
	line-height: 19px;
	padding-right: 40px;
	background-repeat: no-repeat;
	background-position: 43px -76px;
}
.comment-list.blue .link-reply{background-position: 43px -95px;}
.comment-list.green .link-reply{background-position: 43px -114px;}
.comment-list.purple .link-reply{background-position: 43px -133px;}

.comment-entry {
	font-size: 13px;
	line-height:20px;
}
.comment-editable:hover {
	border-right: 2px #999 dashed;
	border-radius: 15px;
	padding-right: 10px;
}
.comment-config {
	display: none;
}
.comment-editable:hover .comment-config {
	display: block;
	float: right;
	position: relative;
}
.comment-editable .ajax-loader {
	text-align: center;
	padding: 20px 0;
}
.comment-editable .span-alert {
	margin: 16px 0;
	display: block;
}
.comment-config .glyphicon {
	top: -1px;
}
.comment-config .glyphicon-cog {
	display: none;
}
.comment-entry .error-msg {
	color: red;
	margin-left: 1em;
}
.true-answer {
	margin-top: 5px;
}
#delete-answer {
	float: right;
}
.delete-question {
	float: right;
}
#open-test-to-students {
	margin: 10px 0px 10px 5px;
}
.tooltip-container {
	display: inline-block;
	width: 100%;
}
.answer-text {
	font-size: 22px;
	font-weight: 400;
}
.question-block {
	min-height: 500px;
}
#next-question, #miss-question {
	margin-top: 1%;
	margin-left: 1%;
	width: 20%;
}
.hidden {
	display: none;
}
.completed, .uncompleted {
	display: none;
}
.current {
	display: block;
}
.test-result {
	text-align: center;
}
.radio {
	margin-top: 8px;
}
.question-img {
	max-width: 60%;
	height: auto;
	margin-bottom: 1%;
}
.img-container {
	text-align: center;
}
#toggle-select {
	margin-left: 5%!important;
}
